body {
    font-family: Arial;
    background-color: rgb(45, 64, 89);
    color: rgb(255, 255, 255);
    text-align: center;
}

h2 {
    margin-top: 20px;
}

.Minha-logo {
    height: 200px;
    border-radius: 100px;
}

.container {
    display: flex; 
}

.menu {
    width: 200px;
    color: white;
}

.menu li {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

form {
    width: 300px;
    margin: 10px auto;
    border: 2px solid rgb(50, 130, 184);
    background-color: rgb(15, 76, 117);
    border-radius: 30px;
    padding: 20px;
    display: block;
}

input[type="text"],
textarea {
    width: calc(100% - 16px);
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(15, 76, 117);
}

a {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
    width: 150px;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

a:visited {
    color: #ccc;
}



li {
    list-style-type: none;
}

.links {
    position: absolute;
    top: 5px;
    left: 5px;
}

.forms{
    display: flex;

    align-items: center;
    
    justify-content: center;

}


.redes-sociais {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    border: 2px solid rgb(50, 130, 184);
    background-color: rgb(15, 76, 117);
    border-radius: 30px;
    padding: 10px;
}

.redes-sociais a {
    margin-right: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
}

.redes-sociais img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.redes-sociais h2 {
    margin-top: 0;
}

.redes-sociais p {
    margin-bottom: 0;
}



@media screen and (max-width: 768px) {
    .menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .links {
        position: static;
        margin-top: 20px;
    }

    .contato {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


